sint1.txt
sint2.txt
sint3.txt
sint4.txt
sint5.txt
sint6.txt
sint7.txt
sint8.txt
sint9.txt
sint10.txt
sint11.txt
sint12.txt
sint13.txt
sint14.txt
sint15.txt
sint16.txt
sint17.txt
sint18.txt
sint19.txt
analisador.exe
